 #c-container a {
     font-size: 1.2rem;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 200px;
     color: white;
     
 }

 #c-container h3 {
     font-size: 1.6rem;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     margin-top: 22px;
     text-transform: uppercase;
     color:#C19E68;
 }

 .navbar-brand {
     margin-left: 20px;

 }

 #c-container h3 span {
     font-size: .8rem;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: -5px;
     display: block;
     line-height: 1.3;
 }

 .c-opacity {
     opacity: 0.4 !important;
 }

 .star {

     color:#C19E68;
 }

 .star i {

    font-size: 1.7rem;
 }


 #star {
     background-color: #C19E68;
    
 }

  .navbar-toggler-icon {
    
     background-color:#C19E68;
  }

  .no-radius {
    border-radius: 0% !important;
 }
 .card-title {

    color: #C19E68!important;
   }

    .star-p {

     color:#C19E68;
     
 }

 .resort-text {

    color: #C19E68;
  }


  .rating {

    color: #C19E68;
    font-size: 4rem;
    font-family: Gill Sans;
  }

  .p {

   
    font-size: 1rem;
    font-weight: 600;
    
  }

  #h {
    height: 70% !important;

      }